[submodule "external/ELFIO"]
	path = external/ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/riscv-test-env"]
	path = external/riscv-test-env
	url = https://github.com/riscv/riscv-test-env.git
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
