[submodule "external/ELFIO"]
	path = external/ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/riscv-test-env"]
	path = external/riscv-test-env
	url = https://github.com/riscv/riscv-test-env.git
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "riscv32-sim/lib/common"]
	path = riscv32-sim/lib/common
	url = https://github.com/ssayin/riscv32-sim-common.git
[submodule "riscv32-sim/lib/decoder"]
	path = riscv32-sim/lib/decoder
	url = https://github.com/ssayin/riscv32-decoder.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/boostorg/asio.git
[submodule "riscv32-sim/lib/riscv32-decoder"]
	path = riscv32-sim/lib/riscv32-decoder
	url = https://github.com/ssayin/riscv32-decoder.git
[submodule "riscv32-sim/lib/riscv32-sim-common"]
	path = riscv32-sim/lib/riscv32-sim-common
	url = https://github.com/ssayin/riscv32-sim-common.git
